.animal-row:hover {
    cursor: pointer;
}

.form-value {
    /* snipped from form-control */
    display: block;
    width: 100%;
    line-height: 1.5;
    padding: .375rem .75rem;
}

.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}

body {
    padding: 10px;
    overflow-y: scroll;
}
